## p28

In [1]:
from person_start import Person
bob = Person('Bob Smith', 42)
sue = Person('Sue Jones', 45, 40000)

In [2]:
people = [bob, sue]
for person in people:
    print(person.name, person.pay)

Bob Smith 0
Sue Jones 40000

In [3]:
x = [(person.name, person.pay) for person in people]
x

[('Bob Smith', 0), ('Sue Jones', 40000)]

In [4]:
[rec.name for rec in people if rec.age >= 45]

['Sue Jones']

In [5]:
[(rec.age ** 2 if rec.age >= 45 else rec.age) for rec in people]

[42, 2025]

## p30

In [6]:
from person import Person
from manager import Manager

In [8]:
bob = Person(name='Bob Smith', age=42, pay=10000)
sue = Person(name='Sue Jones', age=45, pay=20000)
tom = Manager(name='Tom Doe', age=55, pay=30000)
db = [bob, sue, tom]
db

[<person.Person at 0x10b15ad68>,
 <person.Person at 0x10b15ada0>,
 <manager.Manager at 0x10b15ae10>]

In [9]:
for obj in db:
    obj.giveRaise(0.10)

In [10]:
for obj in db:
    print(obj.lastName(), '=> ', obj.pay)

Smith =>  11000.0
Jones =>  22000.0
Doe =>  36000.00000000001